.fixedfontpara {
  font-size: 3vw;
  color: #000000;
  font-family: Arial, serif
}

.fixedfonth1 {
  font-size: 5vw;
  color: #000000;
  font-family: "Lucida Console", monospace;
}

.fadingcells {
      position: relative;
      display: inline-block;
      cursor: pointer;
}

.cell {
  background-color: #000000;
  transition: background-color 0.3;
}

.fadingcells:hover .cell {
  background-color: #FFFFFF;
}
