/* BGIMAGE */

body {
    background-image: url('BGIMAGE.jpg');
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  ::-webkit-scrollbar {width: 1.2vw;}
  ::-webkit-scrollbar-track {background: #313131;}
  ::-webkit-scrollbar-thumb {background: #56e8cd; border-radius: 1vw; border: 0.3vw solid #313131;}
  ::-webkit-scrollbar-thumb:hover {background: #56e8cd; border-radius: 1vw; border: 0.25vw solid #313131;}

/*BACKGROUND MUSIC*/
@media (orientation:portrait) {
    .musicbutton {
        position: fixed;
        top: 2.5vw;
        right: 5vw;
        z-index: 21;
    }
}

@media (orientation:landscape) {
    .musicbutton {
        position: fixed;
        bottom: 2.5vw;
        right: 5vw;
        z-index: 21;
    }
}

.volume {
    background-color: #FFFFFF;
    width: 0vw;
    transition: width 0.4s;
    position: absolute;
    top: 0;
    right: 1.5vw;
    height: 4vw;
    border-top-left-radius: 75vw;
    border-bottom-left-radius: 75vw;
    transform-origin: right center;
    z-index: 19;
    border: 0.3vw solid #000000;
    box-sizing: border-box;
    overflow: hidden;
}

.musicbutton:hover .volume {
    width: 25vw;
}

/*NAVIGATION AREA*/

.navimagediv, .navdiv {
    font-size: 3.9vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

.navimagediv {
    text-align: center;
}

.navimage {
    width: 7.3vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.Home { grid-area: Home;} .Aboutme { grid-area: Aboutme;} .Activities { grid-area: Activities;} .Reflection { grid-area: Reflection;} 
.blank {grid-area: blank;} .navdiv {grid-area: navdiv;} .navimagediv {grid-area: navimagediv;}

.navgrid1 {
    display: grid;
    grid-template-areas:
      'navimagediv navdiv navdiv navdiv navdiv navdiv'
      'navimagediv Home Aboutme Activities Reflection blank';
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 9fr;
    width:95vw;
    margin: 0 auto;
}

.fadingcells  {
    background-color: rgba(0, 0, 0, 0,);
    transition: background-color 0.5s, color 0.5s, font-size 0.5s;
    font-weight: bold;
    font-size: 1.4vw;
    font-family: Arial;
    text-align: center;
    margin-top: auto;
    padding: 2%;
    cursor: pointer;
}

.fadingcells:hover  {
    background-color: rgba(255, 255, 255, 1);
    font-size: 1.5vw;
}

.fadingcells:active  {
    background-color: rgba(241, 241, 241, 1);
    font-size: 1.5vw;
}

.fadingcells a {
    color: #FFFFFF;
    transition: color 0.5s;
    text-decoration: none;
    display: block;
}

.fadingcells:hover a {
    color: #000000;
}

/* ACTIVITIES */

.Activities {
    position: relative;
}

.span {
    position: absolute;
    width: 10vw;
    height: 0vw; 
    left: -0.05vw;
    top: 101%;
    background-color: #F2F2F2;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    margin-bottom: 0.9vw;
    border: 0.1vw solid #000000;
    z-index: 5;
}



.span a {
    text-decoration: none;
    display: block;
    color: #000000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    padding: 0.4vw;
}

.Activities:hover .span {
    height: 9vw;
    transition: height 0.3s ease-in-out 0.25s;
}

.span div {
    width: 100%;
    margin: 0;
    transition: background-color 0.25s ease-in-out;
}

.span div:hover {
    background-color: #6ffbe1;
}

.span div:active {
    background-color: #d7fef7;
}

/* CONTENT AREA */

hr {
    text-align: center;
    border: 0.1vw solid #000000;
    width: 45vw;
    margin: 0;
}

.head {
    background-color: #00d77af5;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    font-family: "Lucida Console", monospace;
    padding-bottom: 1vw;
    padding-top: 1vw;
    margin-top: 1.5vw;
    color: #242424;
}

.para {
    background-color: #00e978;
    width: 90vw;
    margin: 0 auto;
    font-size: 1.25vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    height: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foot {
    background-color: #00d77af5;
    width: 89.6vw;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.75vw;
    transition: background-color 0.5s;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.25vw;
}

.foot:hover {
    background-color: #FFFFFF;
}


/* HOME PAGEEEEE*/

table {
    width: 40vw; 
    height: 12vw; 
    border-radius: 0.5vw; 
    border: 0.3vw solid #000; 
    margin: 0 auto;
    background-color: #80FF77; 
    margin-bottom: 4vw;
    
}

.infotitle {
    font-size: 2.5vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.6vw;
}

.inform {
    font-size: 1.4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding-left: 2vw;
    padding-top: 0.25vw;
    overflow: hidden;
    cursor: pointer;
    width: 2vw;
    transition: width 0.2s ease-in-out;
    transition-delay: 0.35s;
    background-color: #00FF40;
}

.orig {
    display: inline-block;
    position: relative;      
    left: 0vw;
    transition: left 0.25s ease-in-out;
    transition-delay: 0.35s;
    background-color: #00FF40;

} 

.color {
    background-color: #00FF40;
    display: inline-block;
}

.newtext {
    display: block;
    position: absolute;
    left: -21vw;
    transition: all 0.25s ease-in-out;
    transition-delay: 0.35s;
    background-color: #00FF40;
}

.inform:hover .orig {
    left: 20vw; 
}

.inform:hover .newtext {
    left: -1vw;
    padding-left:  2vw
}

.slide {
    width: auto;
    height: 1.7vw;
    transform: rotate(-180deg);
    transition: transform 0.3s linear;
}

.inform:hover .slide {
    transform: rotate(0deg);
}

.inform:hover {
    width: 22vw;    
}


#welcome {
    text-align: center;
    margin: 0 auto;
    font-size: 1vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.by {
    text-align: center;
    margin: 0 auto;
    font-size: 1vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name {
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4vw;
}

#creditslol, #gaem {
    background-color: #42f963;
    border: 0;
    border-top: 0.1vw solid #000000;
    padding: 1vw;
    padding-left: 4vw;
    font-weight: bold;
    text-align: left;
    font-size: 2.5vw;
    width: 90vw;
    height: 6vw;
    cursor: pointer;
    transition: all 0.2s;
}

#creditslolsub1, #creditslolsub2 {
    transition: all 0.2s;
}

.creditslolsub1working, .creditslolsub2working {
    transform: rotate(90deg);
    transition: all 0.2s;
}



/* ABOUT ME */

.para .p1 {
    margin-left: 22.5vw;
    margin-top: 1vw;
    margin-bottom: 5.5vw; 
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 66vw;
}

.abtme {
    position: absolute;
    width: 89.5vw;
    height: 0vw;
    overflow: hidden;
    transition: height 0.4s;
    top: 100%;
    background-color: #00000000;
}

.refdiv:hover .abtme {height: 33vw;} .me1 {left: -22.4vw;} .me2 {left: -44.8vw;} .me3 {left: -67.2vw;}


/* REFLECTIONNNN */ 
.para .p2 {
    margin-right: 3vw;
    margin-top: 0;
    margin-bottom: 6.5vw; 
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 84vw;
    margin-left: 2vw;
}

.Refdiv {
    width: 21.95vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 0.25vw;
    text-align: center;
    margin-top: -1vw;
    margin-right: -0.5vw;
    margin-bottom: 30vw;
    display: inline-block;
}

.ref1, .ref2, .ref3, .ref4 {background-color: #00e978; transition: background-color 0.2s; position: relative; border-right: 0.15vw solid #000000; border-left: 0.15vw solid #000000;}
.ref1 {border: 0vw;} 
.ref4 {border: 0vw;}

.comingsoon {
    font-size: 3vw;
    text-align: center;
    font-weight: bolder;
    margin-top: 1vw;
    margin-bottom: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ref1:hover {background-color: #00FF40;}
.ref2:hover {background-color: #8a70ff;}
.ref3:hover {background-color: #f73131;}
.ref4:hover {background-color: #c5e640;}

/* SURVEYY */
input[type="button"] {
    width: 6vw; 
    height: 2vw; 
    background-color: #e668ff; 
    border-radius: 0.2vw; 
    font-size: 1.2vw; 
    font-weight: bold;
    transition: background-color 0.3s;
    border: 0.15vw solid #000000;
}

input[type="reset"] {
    width: 6vw; 
    height: 2vw; 
    background-color: #FFFFFF; 
    border-radius: 0.2vw; 
    font-size: 1.2vw; 
    font-weight: bold;
    border: 0.15vw solid #000000;
}

input[type="button"]:hover {
    background-color: #f4bcff;
}

input[type="radio"] {
    width: 0.8vw; 
    height: 0.8vw;
    border: 0.5vw solid #d5d5d5;
}

.confirm {
    grid-area: confirm; 
    font-weight: bold; 
    font-size: 2vw; 
    text-align: center; 
    border-bottom: 0.2vw solid #000000; 
    width: 23vw; 
    padding: 1vw; 
    padding-bottom: 2vw;
}

.hellnah {grid-area: no; border-right: 0.2vw solid #000000; width: 12.5vw; height: 4.5vw; display: inline-block; margin-right: -0.5vw;} 
.hellyeah {grid-area: yes; width: 12.4vw; height: 4.5vw; display: inline-block; background-color: #00000000;}  
.cancellol {display: inline; width: 100%; height: 100%; background-color: #00000000; border: 0; font-size: 1.2vw; transition: all 0.4s;}
.cancellol:hover {font-weight: bold; background-color: #eeeeee;}
.submitlol {display: inline; width: 100%; height: 100%; border: 0; font-size: 1.1vw; background-color: #E668FF; transition: all 0.4s;}
.submitlol:hover {background-color: #F4BCFF; font-weight: bold;}

.confirmation {
    display: grid;
    grid-template-areas:
      'confirm confirm'
      'no yes';
    grid-template-columns: 1fr 1fr;
    width: 25vw; 
    height: 15vw; 
    background-color: #FFFFFF; 
    display: none; 
    z-index: 21; 
    left:37.5vw; 
    top: 12vw; 
    position: fixed; 
    border-radius: 2.5vw; 
    border: 0.4vw solid #000000;
    overflow: hidden;
}

/* LESSONS */

.q1 {
    border-top: 0.15vw solid #000000;
}

.quarter {
    width: 20vw;
    height: 2.5 vw;
    font-size: 1.5vw;
    padding: 1vw;
    vertical-align: middle;
    text-align: center;
    border-bottom: 0.15vw solid #000000;
    border-right: 0.15vw solid #000000;
    background-color: #00d77af5;
    transition: background-color 0.2s;
    font-weight: bold;
    position: relative;
    z-index: 4;
}

.topmarg {
    margin-top: -1vw;
}

.q1:hover {background-color: #00e978;}
.q2:hover {background-color: #8a70ff;}
.q3:hover {background-color: #f73131;}
.q4:hover {background-color: #c5e640;}

.blankquarter {
    width: 22.1vw;
    height: 11vw;
    background-color: #00d77af5;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: -1vw;
    z-index: 4;
}

.lesson {
    position: absolute;
    left: 100%;
    width: 0vw;
    height: 2.5vw;
    background-color: #00e978;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    border: 0vw solid #000000;
    transition: width 0.4s ease-in-out, background-color 0.4s, font-size 0.4s ease-in-out;
    overflow: hidden;
    z-index: 3;
    font-size: 0vw;
}

.unusedlesson {
    position: absolute;
    left: 100%;
    width: 0vw;
    height: 2.5vw;
    background-color: #00e978;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    border: 0vw solid #000000;
    transition: width 0.4s ease-in-out, background-color 0.4s, font-size 0.4s ease-in-out;
    overflow: hidden;
    z-index: 2;
    font-size: 0vw;
}


.quarter:hover .lesson, .quarter:hover .blanklesson, .quarter:hover .unusedlesson {
    width: 20vw;
    border: 0.15vw solid #000000;
    overflow: visible;
    font-size: 1.3vw;
}

.lesson:hover {
    background-color: #d5d5d5;
}

.l1 {bottom: 0.75vw;} .l2 {bottom: -2.25vw;} .l3 {bottom: -5.25vw;} .l4 {bottom: -8.25vw;} .l5 {bottom: -11.25vw;} .l6 {bottom: -14.25vw;} .l7 {bottom: -17.25vw;}  .l8 {bottom: -20.25vw;} 

.blanklesson {
    position: absolute;
    bottom: -25vw;     
    width: 0vw;
    height: 4.75vw;
    left: 100%;
    background-color: #00e978;
    border: 0vw solid #000000;
    padding-top: 0.25 vw; padding-bottom: 0.25vw;
    transition: width 0.4s ease-in-out;
}

.file {
    position: absolute;
    left: 100%;
    top: 0vw;
    width: 0vw;
    height: 28.6vw;
    background-color: #00e978;
    z-index: 10;
    transition: width 0.4s ease-in-out;
    overflow: hidden;
}

.lesson:hover .file {
    width: 48vw;
}

.f1 {top: 0vw;} .f2 {top: -3vw;} .f3 {top: -6vw;} .f4 {top: -9vw;} .f5 {top: -12vw;} .f6 {top: -15vw;} .f7 {top: -18vw;} .f8 {top: -21vw;}

.q2l {background-color: #8a70ff;}
.q3l {background-color: #f73131;}
.q4l {background-color: #c5e640;}

.output {
    position: absolute;
    top: 14.27vw;
    width: 48vw;
    height: 0vw;
    z-index: 11;
    transition: height 0.4s ease-in-out;
    overflow: hidden;
    text-align: center;
}

.file:hover .output{
    height: 14.27vw;
}

/* DESCRIP AND IMAGE MODE*/

#descmode, #imagemode {
    margin-left: 60vw;
    margin-bottom: -1vw;
    display: inline-block;
    position: relative;
    z-index: 5;
    width: 15vw;
    height: 4.5vw;
    /*FONT OF BUTTON*/
    font-size: 2vw;
    font-weight: bold;
    background-color: #00e97800;
    border-bottom: 0;
    border-right: 0;
}

#dragger {
    height: 4.5vw; 
    width: 15vw; 
    position: absolute;
    background-color: #ce5bff;
    margin-left: 60vw;
    margin-top: -0vw;
    z-index: 0;
    transition: margin-left 0.7s;
}
