body {
  background-image: url('BGIMAGE.jpg');
  background-attachment: fixed; 
  background-size: cover;
  background-repeat: no-repeat;
}

.fixedfontpara {
  font-size: 1.2em;
  color: #000000;
  font-family: Arial, serif;
  font-weight: bold;
  text-align: center;
}

.fixedfonth1 {
  font-size: 2.5em;
  color: #000000;
  font-family: "Lucida Console", monospace;
  font-weight: bold;
  margin-bottom: 1;
}

.fadingcells .cell {
  position: relative;
  display: block;
  width: 100%;
  height:100%;
  cursor: pointer;
}
.fadingcells {
  background-color:#000000;
  transition: background-color 0.5s;
}

.cell {
  color: #FFFFFF;
  transition: color 0.5s;
}

.fadingcells:hover {
  background-color:#FFFFFF;
}

.fadingcells:hover .cell {
  color: #000000;
}

.fadingcells .activities {
  visibility: hidden;
  opacity: 0;
  width: 8%;
  display: block;
  background-color: #F8F8F8;
  transition: opacity 0.5s;
  position: absolute;
  color: #000000;
  text-align: center;
  z-index: 4;
  top: 7.2em;
  margin-left: 0%;
  border-radius: 6px;
  padding: 1%;
}

  
.fadingcells:hover .activities {
  visibility: visible;
  opacity: 1;
}
  
.fadingcells .activities::after {
  content:" ";
  position: absolute;
  border-color: transparent transparent #F8F8F8 transparent;
  bottom: 100%;
  margin-left: -4%;
  border-width: 0.5em;
  border-style: solid;
}

.popup {
  color: #000000;
  background-color: rgba(248, 248, 248, 1);
  transition: backround-color 0.5s;
  display: block;
  width: 100%;
  height:100%;
  cursor: pointer;
}

.fadingpopup {
  color: #000000;
}

.fadingpopup:hover .popup {
  background-color: rgba(0, 255, 255, 0.3);
  }

.listlink {
  color: #000000;
}
